body
{
  height: 100vh;
  /*background: blue;*/
display: flex;
justify-content: center;
align-items: center;
background: #1a1a1a;
}
.container
{
  width:100%;
  text-align: center;
  /*border:2px solid black;*/
  padding: 20px 32px;
  margin: 0;
}
input[type="text"]
{
  font-size:36px;
  border:none;
  width:0;
  border:1px solid royalblue;
  box-shadow:0px 0px 10px royalblue;;
  border-radius: 50px;
  transition: .5s ease-in-out;

}
i
{
  font-size: 36px;
  color: white;
}
i:hover input[type="text"]
{
  width:80%;
}
